{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="stylesheet" href="{% static 'task_list_styles.css' %}" />
{% endblock %}

{% block content %}
<div class="task-container">
    <a href="{% url 'user_app:main_page' %}" class="exit-user">Назад</a>
    <h2>Мои задачи: {{ count_tasks }}</h2>

    <div class="task-list">
        {% for task in tasks %}
            {% for task_name, task_status in task.items %}
                    <div class="task-item">
                        <span class="task-title">{{ task_name }}</span>
                        <span class="task-status">
                            {% if task_status == '✅' %}
                            Сделано
                            {% else %}
                            Не сделано
                            {% endif %}
                        </span>
                    </div>
        {% endfor %}
        {% empty %}
            <p>Пока задач нет.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}